<!--
<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        &lt;!&ndash; Database connection settings &ndash;&gt;
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/assist</property>
        &lt;!&ndash;<property name="connection.url">jdbc:mysql://52.14.101.122:3306/assist</property>&ndash;&gt;
        <property name="connection.username">web</property>
        <property name="connection.password">Password1</property>

        &lt;!&ndash; SQL dialect &ndash;&gt;
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        &lt;!&ndash; Echo all executed SQL to stdout &ndash;&gt;
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        &lt;!&ndash; List the annotated entity class/es &ndash;&gt;
        <mapping class="com.bnisler.entity.League"/>
        <mapping class="com.bnisler.entity.Division"/>

    </session-factory>

</hibernate-configuration>-->
