<md-input-container ng-if="vm.required">
    <label>Season</label>
    <md-select ng-model="vm.season"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectSeason()"
               required>
        <md-option ng-repeat="season in vm.seasons" ng-value="season">
            {{season.name}}
        </md-option>
    </md-select>
    <div ng-messages="vm.form.season.$error">
        <div ng-message="required">Season is required</div>
    </div>
</md-input-container>

<md-input-container ng-if="!vm.required">
    <label>Season</label>
    <md-select ng-model="vm.season"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectSeason()">
        <md-option ng-value="null">None</md-option>
        <md-option ng-repeat="season in vm.seasons" ng-value="season">
            {{season.name}}
        </md-option>
    </md-select>
</md-input-container>