<md-input-container ng-if="vm.required">
    <label>Split</label>
    <md-select ng-model="vm.split"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectSplit()"
               required>
        <md-option ng-repeat="split in vm.splits" ng-value="split">
            {{split.name}}
        </md-option>
    </md-select>
    <div ng-messages="vm.form.split.$error">
        <div ng-message="required">Split is required</div>
    </div>
</md-input-container>

<md-input-container ng-if="!vm.required">
    <label>Split</label>
    <md-select ng-model="vm.split"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectSplit()">
        <md-option ng-value="null">None</md-option>
        <md-option ng-repeat="split in vm.splits" ng-value="split">
            {{split.name}}
        </md-option>
    </md-select>
</md-input-container>