<md-input-container ng-if="vm.required">
    <label>Team</label>
    <md-select ng-model="vm.team"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectTeam()"
               required>
        <md-option ng-repeat="team in vm.teams" ng-value="team">
            {{team.name}}
        </md-option>
    </md-select>
    <div ng-messages="vm.form.team.$error">
        <div ng-message="required">Team is required</div>
    </div>
</md-input-container>

<md-input-container ng-if="!vm.required">
    <label>Team</label>
    <md-select ng-model="vm.team"
               ng-model-options="{trackBy: '$value.id'}"
               ng-change="vm.selectTeam()">
        <md-option ng-value="null">None</md-option>
        <md-option ng-repeat="team in vm.teams" ng-value="team">
            {{team.name}}
        </md-option>
    </md-select>
</md-input-container>