<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test_assist</property>
        <property name="connection.username">web</property>
        <property name="connection.password">Password1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- List the annotated entity class/es -->
        <!--<mapping class="com.bnisler.entity.User"/>-->
        <mapping class="com.bnisler.entity.League"/>
        <mapping class="com.bnisler.entity.Division"/>

    </session-factory>

</hibernate-configuration>