<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Commits</span>
        </md-card-title-text>
        <md-button class="md-raised md-primary md-icon-button"
                   aria-label="add commits"
                   ng-click="vm.showSelectCommitDialog($event)">
            <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
    </md-card-title>
    <md-card-content>
        <md-content>
            <table st-table="displayCommits"
                   st-safe-src="vm.commits"
                   class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="firstname">Firstname</th>
                    <th st-sort="lastname">Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="commit in displayCommits">
                    <td>
                        <a ui-sref="main.player-details({ playerId:commit.playerId })">
                            {{commit.firstname}}
                        </a>
                    </td>
                    <td>{{commit.lastname}}</td>
                    <td>{{commit.email}}</td>
                </tr>
                </tbody>
            </table>
        </md-content>
    </md-card-content>
</md-card>